@use './darcula.scss';
@use './menu.scss';
@use './content.scss';
@use './fixes.scss';
@use './prosemirror-gapcursor.scss';
@use './views.scss';
@use './colors.scss';
@use './katex.scss';

body {
  background-color: var(--background);
  font-family: sans-serif;
}

a {
  text-decoration: underline;
  color: var(--accent-text);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.ProseMirror {
  outline: none;
  font-family: sans-serif;

  .tableWrapper {
    overflow-x: auto;
  }
  .ProseMirror table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
  }
  td,
  th {
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
  }
  .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
  }
  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
    /* Give selected cells a blue overlay */
  .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
  }

}

.cm-scroller {
  height: auto !important;
  width: auto !important;
  overflow-y: visible;
  &:has(.cm-html-editor-inactive) {
    height: 0px !important;
  }
}
.cm-content {
  display: inline !important;
  overflow-y: visible;
  padding: 0 !important;
}
.cm-editor.cm-focused {
  outline: none;
  position: relative;
  top: -1px;
  margin-bottom: 1px;
}
.cm-html-renderer {
  display: inline-block;
  position: relative;
  top: -2px;
}
.cm-html-renderer-inactive {
  height: 0;
  overflow: hidden;
}
.cm-html-editor-inactive {
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  position: relative;
  opacity: 0 !important;
  top: 16px !important;
  display: inline-block !important;
}
.cm-editor {
  display: inline-block !important;
  overflow-y: visible;
  vertical-align: middle;
}
.suggestions {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  background-color: white;
  min-height: 600px;
  .selected {
    background-color: yellow;
  }
}